<h1 id="tableLabel">Consulta de Libros</h1>

<p>Este componente muestra los libros desde el servidor, si sincroniza se mostrarán tambien los de la api</p>

<button type="button" (click)="onSincronizar()" class="btn btn-success">Sincronizar</button>

<p *ngIf="!libros"><em></em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="autores">
  <thead>
    <tr>
      <th>Nombre Autor</th>
      <th>Apellido Autor</th>
      <th>Libro</th>
      <th>Fecha de publicación</th>
      <th>Descripción</th>
      <th>Numero de paginas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let autores of autores">
      <td>{{ autores.firstName }}</td>
      <td>{{ autores.lastName }}</td>
      <td>{{ autores.libro.title }}</td>
      <td>{{ autores.libro.publishDate }}</td>
      <td>{{ autores.libro.description }}</td>
      <td>{{ autores.libro.pageCount }}</td>
    </tr>
  </tbody>
</table>
