<style>
  .Separado {
    margin-top: 25px;
    margin-right: 20px;
  }
</style>

<h1 id="tableLabel">Consulta de Libros</h1>

<p>Este componente muestra los libros desde el servidor, si sincroniza se mostrarán tambien los de la api</p>

<button type="button" (click)="onSincronizar()" style="margin-right:20px;" class="btn btn-success">
  Sincronizar registros API
  <span id="SincronizarCargando" style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</button>
<button type="button" (click)="onEliminar()" class="btn btn-danger">
  Eliminar todos los registros locales
  <span id="EliminarCargando" style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</button>

<div class="container">
  <div id="CargandoGrid" class="text-center Separado">
    Cargando Grid...
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>



  <dx-data-grid id="gridContainer" (onExporting)="onExporting($event)"
                [dataSource]="autores"
                [showBorders]="true">


    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[5, 10, 20]"
               [showInfo]="true">
    </dxo-pager>
    <dxo-filter-row [visible]="showFilterRow"
                    [applyFilter]="currentFilter"></dxo-filter-row>

    <dxi-column caption="Primer Nombre" dataField="firstName">
      <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <dxi-column caption="Segundo Nombre" dataField="lastName">
      <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <dxi-column caption="Numero de paginas" dataField="libro.pageCount"></dxi-column>
    <dxi-column caption="Descripción del libro" dataField="libro.description">
      <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <dxi-column caption="Fecha de publicación" dataField="libro.publishDate" dataType="datetime"
                format="dd/MM/yyyy">
      <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
  </dx-data-grid>


</div>


